// Colors
$base-main-color: #6e8478;
$base-light-color: #edeaea;
$base-stripe-color: #da7a89;

$custom-light-yellow: #fffce3;
$custom-green: $base-main-color;
$custom-dark-green: #4b6643;
$custom-pink: #da7a89;
$custom-purple: #8f5c7a;
$custom-black: #37332d;
$custom-gray: #8d8389;
$custom-dark-gray: #3e3e4a;
$custom-brown: #8c656e;
$custom-white: #fafafa;
$custom-paper: #edeaea;
$custom-light-pink: #fff0f2;
$custom-beige: #fffff1;
$custom-black: #262626;

// Fonts
$base-font-family: "Noto sans", sans-serif;
$base-font-size: 12pt;
$base-font-weight: 100;
$base-font-style: normal;
