// sass-lint:disable no-descending-specificity, quotes, property-sort-order, space-around-operator, no-important, leading-zero

@import "tachyons";
@import "vars";

body {
  background-color: $base-main-color;
  font: $base-font-style $base-font-weight $base-font-size $base-font-family;
  line-height: 1.5;
  color: $custom-black;
}

main {
  min-height: calc(80vh);
}

a {
  text-decoration: none;
}

footer {
  background-color: $custom-purple;
  border-top: 5px solid $base-stripe-color;

  a {
    font-weight: 600;
    color: $custom-light-pink;
  }
}

.b {
  font-family: "Noto Sans Medium Bold", sans-serif;
}

.b--custom-pink {
  border-color: $custom-pink;
}

.b--custom-light-pink {
  border-color: $custom-light-pink;
}

.bg-custom-pink {
  background-color: $custom-pink;
}

.bg-custom-purple {
  background-color: $custom-purple;
}

.bg-custom-beige {
  background-color: $custom-beige;
}

.custom-white {
  color: $custom-white;
}

.home {
  background-position: 85% 5% !important;
  background-size: 55% !important;

  &::before {
    background: transparent url("../images/home-bg-2.png") no-repeat bottom left;
    background-position: 5% 70%;
    background-size: 25%;
    bottom: 0;
    content: " ";
    left: 0;
    margin-left: calc(-50vw + 50%);
    min-height: 100%;
    overflow: visible;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -2;
  }
}

header {
  a {
    text-decoration: none;
  }
}

.hamburger {
  cursor: pointer;
  height: 30px;
  width: 30px;

  div {
    background-color: $custom-light-pink;
    height: 3px;
    width: 100%;
    transition: all ease 0.2s;
    margin: 5px 0;
  }

  &.open {
    div {
      &:first-of-type {
        transform: rotate(45deg);
        margin-top: 12.5px;
      }

      &:last-of-type {
        transform: rotate(-45deg);
        margin-top: -6.25px;
      }

      &:nth-of-type(2) {
        display: none;
      }
    }
  }
}

article {
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $custom-purple;
  }

  a {
    color: $custom-purple;

    & :hover {
      background: $custom-light-pink;
    }
  }

  li {
    margin: 5px 0;
  }
}

.contents {
  &-dropdown {
    a {
      text-decoration: none;
    }
  }

  .arrow {
    margin-top: 0.5em;
    margin-bottom: -0.5em;
  }
}

blockquote {
  border-left: 2px dotted $custom-pink;
  background: $custom-light-pink;
  color: $custom-purple;
  padding: 1rem 3rem;
  text-align: center;
  margin: 3rem 0;
}

table {
  border-collapse: collapse;
}

th {
  background: $custom-purple;
  padding: 10px;
  color: $custom-beige;
  border: 1px solid $custom-beige;
}

td {
  border: 1px solid $custom-purple;
  padding: 10px;
}

.languages {
  background-color: $base-main-color;
  border: 1px solid $custom-white;

  & a,
  & span {
    color: $custom-white;
    font-family: "Courier New", monospace;
    font-size: 16pt;
    padding: 10px 11px 10px 10px;
    text-transform: uppercase;
  }

  &:hover {
    .languages-choices {
      background-color: $base-main-color;
      border: 1px solid $custom-white;
      display: flex;
      flex-flow: column;
      margin-left: 0;
      margin-top: 0;
      z-index: 1;

      a {
        color: $custom-light-pink;
        text-decoration: underline;
      }

      svg {
        color: $base-main-color;
      }
    }
  }
}

.top-button {
  right: 50px;

  path {
    fill: $custom-light-pink;
  }

  &:hover {
    transform: scale(120%);

    path {
      fill: $custom-white;
      filter: drop-shadow(20px 20px 5px $custom-black);
    }
  }
}

@media screen and (min-width: 60em) {
  .sidebar {
    transform: none;
    background-color: transparent;

    .contents {
      color: $custom-white;

      &-dropdown {
        position: absolute;
      }

      &:hover {
        .contents-dropdown {
          display: flex;
          margin-top: 11px;
        }
      }
    }
  }

  .home {
    .guides {
      .card {
        flex: 20%;
      }
    }
  }
}

@media screen and (max-width: 60em) {
  body,
  html {
    overflow-x: hidden;
  }

  .home {
    background-size: 35% !important;

    .guides {
      .card {
        flex: 45%;
      }
    }
  }

  header {
    position: fixed;
    z-index: 1000;
    background-color: $base-main-color;
    top: 0;
    box-shadow: 0 2px 4px rgba($custom-black, 0.4);
  }

  main {
    margin-top: 50px;
  }

  .sidebar {
    background-color: $base-light-color;
    transition: left ease 0.4s;
    position: absolute;
    top: 70px;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll !important;
    padding-bottom: 100px;

    &.open {
      left: 5vw;
    }

    &.close {
      left: 100vw;
    }

    .contents {
      color: $custom-purple;
      border-bottom: 1px solid rgba($custom-black, 0.1);
      padding-bottom: 10px;
      margin-bottom: 10px;

      & > .f4 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5em;
      }

      &-dropdown {
        position: unset;
        background-color: transparent;
        text-transform: unset;
        padding: 0 10px;

        .f2 {
          color: $custom-purple;
          font-size: 1em;
          margin-right: 0.5em;
        }

        .guide-item {
          width: 100%;
          padding: 5px 0 5px 15px;

          a {
            color: $custom-purple;
            font-size: 1em;
          }

          & > div {
            &:nth-of-type(2) {
              margin-left: 10px;
            }
          }
        }
      }

      svg {
        display: none;
      }
    }
  }

  .top-button {
    right: 20px;
    bottom: 10px;

    path {
      fill: $custom-purple;
    }

    &:hover {
      transform: scale(120%);

      path {
        fill: $custom-white;
        filter: drop-shadow(20px 20px 5px $custom-black);
      }
    }
  }
}

@media screen and (max-width: 30em) {
  .home {
    .guides {
      .card {
        flex: 100%;
      }
    }
  }

  .sidebar {
    top: 50px;
  }

  .f1 {
    font-size: 2.1em;
  }

  .f2 {
    font-size: 1.8em;
  }

  .languages {
    background-color: transparent;
    border: 0;

    & a,
    & span {
      color: $custom-gray;
      padding: 5px 0;
      text-transform: uppercase;
    }

    & a {
      color: $custom-purple;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
        color: $custom-black;
      }
    }

    svg {
      display: none;
    }

    &:hover {
      .languages-choices {
        background-color: transparent;
        border: 0;
        display: flex;
        flex-flow: column;
        margin-left: 0;
        margin-top: 0;
        z-index: 1;

        a {
          color: $custom-purple;
          text-decoration: none;
        }
      }
    }
  }
}
